.plotter_form {
	border: 2px solid black;
	padding: 10px;
	position: absolute;
}

.plotter_form fieldset {
	padding: 4px 0 4px 0;
	border: none;
	border-bottom: 1px solid black;
}

.plotter_form fieldset:last-of-type {
	border-bottom: none;
}

.plotter_inputgroup {
	display: block;
	padding: 2px;

}

.plotter_inputgroup-green {
	background-color: rgb(19, 171, 19);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-red {
	background-color: rgb(255, 0, 0);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-blue {
	background-color: rgb(0, 0, 255);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-lightblue {
	background-color: rgb(0, 153, 255);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-lightBlue {
	background-color: rgb(0, 153, 255);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-orange {
	background-color: rgb(255, 153, 0);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-gray {
	background-color: rgb(102, 102, 102);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-pink {
	background-color: rgb(255, 153, 255);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-purple {
	background-color: rgb(175, 26, 235);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-yellowGreen {
	background-color: rgb(155, 226, 17);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-indigo {
	background-color: rgb(47, 38, 224);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-black {
	background-color: rgb(0, 0, 0);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-yellow {
	background-color: rgb(254, 238, 0);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-aqua {
	background-color: rgb(29, 239, 242);
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

/* Changed by Amit 06/13/2016 : Adding more Colors: */
.plotter_inputgroup-lightCoral{
	background-color: #F08080;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-lightSlateGray{
	background-color:#778899 ;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-maroon {
	background-color: #800000;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-midnightBlue {
	background-color:#191970 ;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-orangeRed {
	background-color: #FF4500;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-sandyBrown {
	background-color: #F4A460;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-teal {
	background-color: #008080;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-violet {
	background-color:#EE82EE ;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-springGreen {
	background-color: #00FF7F;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-olive {
	background-color: #808000;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

/* Changed till here. */


/* Changed by Amit 07/01/2016 : Adding more Colors: */

.plotter_inputgroup-blueViolet {
	background-color: #8A2BE2;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-brown {
	background-color: #A52A2A;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-burlyWood {
	background-color: #DEB887;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-chartreuse {
	background-color: #7FFF00;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-chocolate {
	background-color: #D2691E;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-cornflowerBlue {
	background-color: #6495ED;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-darkGoldenRod {
	background-color: #B8860B;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-darkMagenta {
	background-color: #8B008B;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-darkSlateGrey {
	background-color: #2F4F4F;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-fireBrick {
	background-color: #B22222;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-lime {
	background-color: #00FF00;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-saddleBrown {
	background-color: #8B4513;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-turquoise {
	background-color: #40E0D0;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-cadetBlue {
	background-color: #5F9EA0;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-darkGreen {
	background-color: #006400;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-darkRed {
	background-color: #8B0000;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-darkSalmon {
	background-color: #E9967A;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-deepPink {
	background-color: #FF1493;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.plotter_inputgroup-dodgerBlue {
	background-color: #1E90FF;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-forestGreen {
	background-color: #228B22;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

.plotter_inputgroup-gold {
	background-color: #FFD700;
	color: white;
	text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}

/* Changed till here. */

.plotter_inputgroup label {
	font-weight: bold;
	padding-right: 4px;
}

.plotter_inputgroup input {
	float: right;
}

.plotter_form button {
	color: black;
	background-color: white;
	text-decoration: none;
	text-align: center;
	padding: 4px 12px;
	font-size: 12px;
	font-weight: 700;
	font-family: helvetica, arial, sans-serif;
	border-radius: 4px;
	border: 1px solid gray;
}

.plotter_form [type="submit"] {
	background-color: #3B99FC;
	color: white;
	border: 1px solid #3B99FC;
}

